/* 
.BrowseContainer {
    padding: 10px;
    display: grid;
    grid-gap: 1%;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}
.BrowseItems {
    color: var(--Mintgreen-font-color);
    backdrop-filter: blur(10px);
    border-radius: 2%;
    box-shadow: 0 4px 16px 0  rgba(0, 0, 0, 1);
    background-color: rgba(32, 6, 59,0.50);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.purchasebtn {
    color: var(--Mintgreen-font-color);
    text-align: center;
    border:none;
    outline: 0;
    padding: 12px;
    background-color: #000;
    cursor: pointer;
    width: 86%;
    font-size: 18px;
} */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #0a0a23;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
  }
  
  select{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
  }
  
  select:focus{
    outline:none;
  }
#joke {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 2rem 0;
    text-align: center;
    background-color: rgba(19, 19, 68,0.6);
}
#jokeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

#jokeButton {
    margin-bottom: 20px;
  }

#loadingIndicator {
    margin-bottom: 20px;
  }
