body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #0a0a23;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
  }
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
}
  select{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
  }
  button{
    border:gray;
    border:29px;
    padding: 10px 20px;
    border-radius:5px;
    background:#000000;
    color:#fff;
    cursor:pointer;
  }
  button:hover{
    background:#fff;
    color:#000;
  }
.jokeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
  select:focus{
    outline:none;
  }
#jokeButton, #jokesButton {
    margin-bottom: 20px;
}

#loadingIndicator {
    margin-bottom: 20px;
}
#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
}